.general-div {
  width: 300px;
}

.timer {
  padding-top: 10px;
  display: flex;
  gap: 20px;
  width: 220px;
}

#datetime-picker {
  width: 170px;
}

button {
  width: 50px;
}

div.field {
  display: block;
  text-align: center;
  justify-content: center;
 
}

span.value {
  font-size:x-large;
}
